/*List of Colors*/
/*Blue : #0065FC*/
/*Light_Blue : #DEEBFF*/
/*Grey : #F2F2F2*/

/*-------------------*/
/*General*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
}

form {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/*General*/
/*-------------------*/

/*Header*/

#Header {
    margin-left: 22px;
}

#Header_Nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 22px;
}

#Header_hosting_1 { /*Fixed decoration for the Hosting header (Example for current selection*/
    border-top: 3px solid #0065FC;
    padding-top: 50px;
    color: #0065FC;
    margin-right: 60px;
}

.Header_Nav_Link {
    margin-right: 60px;
    color: #4d6180;
    border: none;
    background-color: white;
}

.Header_Nav_Link:hover {
    padding-top: 50px;
    color: #0065FC;
    cursor: pointer;
    border-top: 3px solid #0065FC;
    transition-duration: 0.4s;
}

#Subscribe_Header_Box a {
    color: #0065FC;
    font-weight: bold;
}

#Hosting_main_title {
    font-size: 1.3em;
    font-weight: bold;
}

#short_describe {
    font-size: 0.94em;
}

/*Header*/
/*-------------------*/
/*Main*/

#Main_description {
    margin-left: 25px;
}

/*Research*/

#search {
    display: flex;
    margin-left: 20px;
}

#search .fas { /*Font awesome item*/
    border: 1px solid transparent;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 13px 15px 13px 15px;
}

#site_search {
    border: 1px solid;
    border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent;
    padding: 15px;
}

#search input {
    font-weight: bold;
    color: black;
}

#search_button {
    border: 1px solid transparent;
    border-radius: 0 12px 12px 0;
    padding: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#search_button:hover {
    transition-duration: 0.7s;
    background-size: 200%;
    scale: 1.05;
    background-image: linear-gradient(
        to left,
        #0065FC,
        #3887ff,
        #0065FC
    );
    background-position: right;
}

/*Research*/
/*-------------------*/
/*Filter*/

#filter_title {
    margin-left: 22px;
    margin-right: 22px;
}

#Main_filter {
    display: flex;
    align-items: center;
}

#search_filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 15px 15px 0;
}

.filter {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    border-radius: 34px;
    cursor: pointer;
    margin-right: 15px;
}

.sub_filters {
    padding: 10px;
}

.filter .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
}

.filter:hover {
    scale: 1.05;
    transition-duration: 0.7s;
    background-size: 200%;
    background-image: linear-gradient(
        to left,
        rgb(255, 255, 255),
        #DEEBFF,
        #DEEBFF
    );
    background-position: right;
}

/*Filter*/
/*-------------------*/

#vacancy {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#vacancy i {
    padding-right: 11px; /*Font awesome item position*/
}

/*-------------------*/
/*Core*/

#Hosting_and_popular { /*Position of the two central sections*/
    display: grid;
    grid-template-columns: 65% 35%;
}

#Hosting_and_popular section {
    margin: 25px;
}

/*Hosting Section*/

#Hosting_section {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
}

#Hosting_section i { /*Font awesome item color*/
    color: #0065FC;
}

#Hosting_section h2 {
    max-width: 70%;
    margin-left: 15px;
}

#Main_Hosting_Box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Hosting_Box {
    display: flex;
    flex-direction: column;
    max-height: auto;
    border-radius: 15px;
    margin: 12px;
    background-color: white;
    margin-top: 6px;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
}

.Hosting_Box:hover {
    cursor: pointer;
    scale: 1.05;
    transition-duration: 0.5s;
}

.Hosting_Box:hover img {
    cursor: zoom-in;
}

.Hosting_text {
    padding: 0px 10px 10px 10px;
}

.Hosting_img {
    height: 134px;
    width: auto;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

#Hosting_section img {
    max-width: 100%;
    max-height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#show_more_button {
    font-weight: bold;
    font-size: 1.32em;
    margin-left: 15px;
    cursor: pointer;
    max-width: 130px;
}

/*Hosting Section*/
/*-------------------*/
/*Popular Section*/

#Popular_section {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 14px;
}

#Most_popular_title {
    margin-left: 14px;
}

#Most_popular_titlebox {
    display: flex;
    align-items: center;
}

#Most_popular_titlebox i { /*Font awesome item position*/
    padding-left: 170px;
}

.Most_popular_img {
    overflow: hidden;
}

#Popular_section img {
    max-width: 100%;
    max-height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px 0 0 12px;
    overflow: hidden;
}

.Most_popular {
    display: flex;
    margin: 20px;
    margin-bottom: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 12px;
    height: 140px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
}

.Most_popular:hover {
    cursor: pointer;
    scale: 1.05;
    transition-duration: 0.5s;
}

.Most_popular:hover img {
    cursor: zoom-in;
}

.Most_popular i { /*Font awesome item color*/
    color: #0065FC;
}

.Popular_box {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 20px;
    justify-content: center;
}

/*Popular Section*/
/*-------------------*/
/*Activity Section*/

#Activity_section {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#Main_activity_box {
    display: flex;
    align-items: flex-start;
}

.Activity_box {
    margin: 25px;
}

.Activity_box figure {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
}

.Activity_box figcaption {
    padding-bottom: 10px;
    padding-left: 5px;
    font-weight: bold;
}

.Activity_box img {
    max-width: 100%;
    text-align: center;
    height: auto;
    border-radius: 10px 10px 0 0;
}

/*Core*/

/*Main*/
/*-------------------*/
/*Footer*/

#Footer {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#Footer h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px ;
}

.Footer_Nav_Link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(59, 59, 59);
    padding-left: 12px;
    padding-bottom: 10px;
    width: 300px;
}

.Footer_Nav_Link:hover {
    color: #0065FC;
}

/*Footer*/