/*List of Colors*/
/*Blue : #0065FC*/
/*Light_Blue : #DEEBFF*/
/*Grey : #F2F2F2*/

/*-------------------*/
/*General*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}

form {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/*General*/
/*-------------------*/

/*Header*/

#Header {
    margin-left: 22px;
}

#Header_Nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 22px;
}

#Header_hosting_1 { /*Fixed decoration for the Hosting header (Example for current selection*/
    border-top: 3px solid #0065FC;
    padding-top: 50px;
    color: #0065FC;
    margin-right: 60px;
}

.Header_Nav_Link {
    margin-right: 60px;
    color: #4d6180;
    border: none;
    background-color: white;
}

.Header_Nav_Link:hover {
    padding-top: 50px;
    color: #0065FC;
    cursor: pointer;
    border-top: 3px solid #0065FC;
    transition-duration: 0.4s;
}

#Subscribe_Header_Box a {
    color: #0065FC;
    font-weight: bold;
}

#Hosting_main_title {
    font-size: 1.3em;
    font-weight: bold;
}

#short_describe {
    font-size: 0.94em;
}

/*Header*/
/*-------------------*/
/*Main*/

#Main_description {
    margin-left: 25px;
}

/*Research*/

#search {
    display: flex;
    margin-left: 20px;
}

#search .fas { /*Font awesome item*/
    border: 1px solid transparent;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 13px 15px 13px 15px;
}

#site_search {
    border: 1px solid;
    border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent;
    padding: 15px;
}

#search input {
    font-weight: bold;
    color: black;
}

#search_button {
    border: 1px solid transparent;
    border-radius: 0 12px 12px 0;
    padding: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#search_button:hover {
    transition-duration: 0.7s;
    background-size: 200%;
    scale: 1.05;
    background-image: linear-gradient(
        to left,
        #0065FC,
        #3887ff,
        #0065FC
    );
    background-position: right;
}

/*Research*/
/*-------------------*/
/*Filter*/

#filter_title {
    margin-left: 22px;
    margin-right: 22px;
}

#Main_filter {
    display: flex;
    align-items: center;
}

#search_filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 15px 15px 0;
}

.filter {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    border-radius: 34px;
    cursor: pointer;
    margin-right: 15px;
}

.sub_filters {
    padding: 10px;
}

.filter .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
}

.filter:hover {
    scale: 1.05;
    transition-duration: 0.7s;
    background-size: 200%;
    background-image: linear-gradient(
        to left,
        rgb(255, 255, 255),
        #DEEBFF,
        #DEEBFF
    );
    background-position: right;
}

/*Filter*/
/*-------------------*/

#vacancy {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#vacancy i {
    padding-right: 11px; /*Font awesome item position*/
}

/*-------------------*/
/*Core*/

#Hosting_and_popular { /*Position of the two central sections*/
    display: grid;
    grid-template-columns: 65% 35%;
}

#Hosting_and_popular section {
    margin: 25px;
    min-height: 750px;
}

/*Hosting Section*/

#Hosting_section {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
}

#Hosting_section i { /*Font awesome item color*/
    color: #0065FC;
}

#Hosting_section h2 {
    max-width: 70%;
    margin-left: 15px;
}

#Main_Hosting_Box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Hosting_Box {
    display: flex;
    flex-direction: column;
    height: 250px;
    border-radius: 15px;
    margin: 12px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
}

.Hosting_Box:hover {
    cursor: pointer;
    scale: 1.05;
    transition-duration: 0.5s;
}

.Hosting_text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    line-height: 1px;
}

#Hosting_img_1 {
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#Hosting_img_2 {
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#Hosting_img_3 {
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#Hosting_img_4 {
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#Hosting_img_5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#Hosting_img_6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#show_more_button {
    font-weight: bold;
    font-size: 1.32em;
    margin-left: 15px;
    margin-top: 45px;
    cursor: pointer;
    max-width: 130px;
}

#show_more_button:hover {
    scale: 1.05;
    transition-duration: 0.7s;
}

/*Hosting Section*/
/*-------------------*/
/*Popular Section*/

#Popular_section {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 14px;
}

#Most_popular_title {
    margin-left: 14px;
}

#Most_popular_titlebox {
    display: flex;
    align-items: center;
}

#Most_popular_titlebox i { /*Font awesome item position*/
    padding-left: 300px;
}

#Most_popular_img_1 {
    width: 33%;
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

#Most_popular_img_2 {
    width: 33%;
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

#Most_popular_img_3 {
    width: 33%;
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

#Most_popular_parent {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Most_popular {
    display: flex;
    background-color: white;
    border-radius: 12px;
    width: 90%;
    height: 180px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
    padding: 5px;
}

.Most_popular:hover {
    cursor: pointer;
    scale: 1.05;
    transition-duration: 0.5s;
}

.Most_popular i { /*Font awesome item color*/
    color: #0065FC;
}

.Popular_box {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 20px;
    justify-content: center;
}

/*Popular Section*/
/*-------------------*/
/*Activity Section*/

#Activity_section {
    margin-bottom: 20px;
}

#Activity_section h2 {
    margin-left: 23px;
}
#Main_activity_box {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.Activity_box {
    margin: 25px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
}

.Activity_box p {
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}
.Activity_box:hover {
    scale: 1.05;
    transition-duration: 0.7s;
}

#activity_1 { /*Activity picture*/
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 325px;
    border-radius: 10px 10px 0 0;
}

#activity_2 {
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 155px;
    border-radius: 10px 10px 0 0;
}

#activity_3 {
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 125px;
    border-radius: 10px 10px 0 0;
}

#activity_4 {
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 325px;
    border-radius: 10px 10px 0 0;
}

#activity_5 {
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 140px;
    border-radius: 10px 10px 0 0;
}

#activity_6 {
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 140px;
    border-radius: 10px 10px 0 0;
}

/*Core*/

/*Main*/
/*-------------------*/
/*Footer*/

#Footer {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#Footer h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px ;
}

.Footer_Nav_Link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(59, 59, 59);
    padding-left: 12px;
    padding-bottom: 10px;
    width: 300px;
}

.Footer_Nav_Link:hover {
    color: #0065FC;
}

/*Footer*/